<div class="food-list-item">
    <div class="food-list-item-heading">
        <h1>Salmon</h1>
    </div>

    <div class="food-list-item-details">
        <p>Calories: 10cal</p>
        <p>Protein: 10g</p>
        <p>Fat: 10g</p>
        <p>Carbohydate: 10g</p>
        <p>Sugar: 10g</p>
    </div>

</div>