* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

/* Navbar */
.nav {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.nav a {
    cursor: pointer;
    text-decoration: none;
}

.nav a:visited {
    color: black;
    text-decoration: none;

}

.shopping-cart-icon {
    cursor: pointer;
}

/* Searchbar */
.search-bar {
    margin-top: 3rem;
    text-align: center;
}

.searchbar button {
    cursor: pointer;
}

/* Food List Item */

.food-list-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.food-list-item-heading {
    background-color: lightblue;
}

.food-list-item-details {
    background-color: lightgray;
}